


  <header class="mdl-layout__header mdl-layout__header--waterfall" style="background-color: #388d8e;">

    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">LNI</span>
      <div class="mdl-layout-spacer"></div>

      <nav class="mdl-navigation">

        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/login">Login</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/register">Register</a>

      </nav>
    </div>
  </header>

 