
        <p class="login-title">Its Free, Join Us</p></br>
        <p class="login-heading">Welcome to LNI Admin, Please SignUp with your personal account information.</p>
        <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="">
                  <label class="mdl-textfield__label" for="">First name...</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="">
                        <label class="mdl-textfield__label" for="">Last name...</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="">
                        <label class="mdl-textfield__label" for="">Father name...</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="">
                  <label class="mdl-textfield__label" for="">First name...</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="">
                        <label class="mdl-textfield__label" for="">Last name...</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="">
                        <label class="mdl-textfield__label" for="">Father name...</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="">
                  <label class="mdl-textfield__label" for="">First name...</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="">
                        <label class="mdl-textfield__label" for="">Last name...</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="">
                        <label class="mdl-textfield__label" for="">Father name...</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="">
                  <label class="mdl-textfield__label" for="">First name...</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="">
                        <label class="mdl-textfield__label" for="">Last name...</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="">
                        <label class="mdl-textfield__label" for="">Father name...</label>
                </div>

                      

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="password" id="">
                        <label class="mdl-textfield__label" for="">Password...</label>
                </div>

                <div class="mdl-button mdl-js-button mdl-js-ripple-effect">Register</div>
        </form>  


